.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App form{
  display: flex;
  justify-content: center;
}

.App input{
  width: 30%;
  line-height: 4em;
}

.App button{
  font-size: 2em;
  margin-left: .3em;
}

.list{
  width: 70%;
  margin: 0 auto;
}

.bookList{
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;
  list-style: none;
}

.bookDetail{  
  background-color: rgb(221, 215, 215);
  text-align: left;
  padding-left: .4em;
  width: 100%;
}

.bookTitle{
  font-size: 1.6em;
  font-weight: bold;
}

.bookTitle a{
  text-decoration: none;
  color: blue;
}

.bookTitle a:hover,
.bookTitle a:focus,
.bookTitle a:active{
  text-decoration: underline;
  color: rgb(121, 121, 124);
}

.bookCate{
  font-size: 1.3em;
}

.bookDes{
  font-size: 1.1em;
  padding: 10px 0;
  line-height: 2.3em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
